body{
  background:#000;
  color:#fff;
  font-family:Arial;
  margin:0;
}

.topbar{
  display:flex;
  gap:5px;
  padding:10px;
}

input{
  flex:1;
  padding:8px;
  background:#111;
  border:1px solid #333;
  color:#fff;
}

button{
  background:#222;
  color:#fff;
  border:none;
  padding:10px;
}

#chart{
  height:60vh;
}

#searchResults div{
  padding:6px;
  background:#111;
  border-bottom:1px solid #222;
}

#signalBox{
  padding:10px;
  font-size:18px;
}
