body{
  background:#000;
  color:#fff;
  font-family:sans-serif;
  margin:0;
}

/* HEADER */
.header{
  padding:10px;
  background:#111;
}

#title{
  font-size:18px; /* ↓ ridotto */
  margin:0;
}

#ticker{
  font-size:12px;
  color:#888;
}

/* SEARCH */
.searchBox{
  display:flex;
  gap:8px;
  padding:10px;
}

/* CHART */
#chart{
  height:55vh;
}

/* NAV */
.nav-bottom{
  display:flex;
  gap:10px;
  padding:10px;
}

.nav-bottom button{
  flex:1;
  padding:15px;
  font-size:16px;
}

/* INFO PANEL */
#infoPanel{
  padding:10px;
  background:#111;
  font-size:14px;
}

#infoPanel div{
  margin-bottom:6px;
}
